Repository mawoka-myblock/FediPrint: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, sqlx-prep

format:
  name: format
  entry: cargo fmt --
  language: rust
  args: []

sqlx-prep:
  name: Sqlx prepare
  entry: cargo sqlx prepare
  pass_filenames: false
  language: system

:sparkles: Fix pre-commit
  .pre-commit-config.yaml
Due: none

:bug: Fix backend.Dockerfile
  docker/backend.Dockerfile
Due: none

:sparkles: Worker progress
  fediprint/Cargo.lock
  fediprint/app/src/helpers/interactions.rs
  fediprint/app/src/helpers/mod.rs
  fediprint/app/src/main.rs
  fediprint/shared/src/helpers/config.rs
  fediprint/shared/src/helpers/mod.rs
  fediprint/shared/src/lib.rs
  fediprint/worker/Cargo.toml
  fediprint/worker/src/lib.rs
  fediprint/worker/src/main.rs
  migrations/20240519125546_jobs.up.sql
Due: format, sqlx-prep

:wip: Progress on worker
  fediprint/.sqlx/query-96724ea1050e71438f7b892254514774f829b37d69f87286bd192af9cf702ac4.json
  fediprint/Cargo.lock
  fediprint/app/src/helpers/mod.rs
  fediprint/app/src/routes/api/v1/auth.rs
  fediprint/shared/Cargo.toml
  fediprint/shared/src/helpers/config.rs
  fediprint/worker/Cargo.toml
  fediprint/worker/src/lib.rs
  fediprint/worker/src/main.rs
  fediprint/worker/src/tasks/email.rs
  fediprint/worker/src/tasks/mod.rs
  fediprint/worker/src/types.rs
  fediprint/worker/templates/email/register.html
Due: format

:wip: Add changed migrations to commit
  diesel.toml
  fediprint/.sqlx/query-782e4a164390367098d1875ee201a2648c3699c56e0aaa60396a6843fb6c7788.json
  fediprint/.sqlx/query-8df98db4e7027cf6baeb850470e823bb54235e2c50684286f0176b9d9aeb3121.json
  migrations/20240313135359_init.down.sql
  migrations/20240519125546_jobs.down.sql
  migrations/20240519125546_jobs.up.sql
Due: sqlx-prep

:wip: Progress
  fediprint/Cargo.lock
  fediprint/worker/Cargo.toml
  fediprint/worker/src/main.rs
  fediprint/worker/src/tasks/email.rs
  fediprint/worker/src/types.rs
Due: format

:sparkles: Basic worker structure in place
  fediprint/prusaslicer/src/lib.rs
  fediprint/shared/src/helpers/config.rs
  fediprint/worker/src/lib.rs
  fediprint/worker/src/main.rs
  fediprint/worker/src/tasks/email.rs
  fediprint/worker/src/types.rs
Due: format

:bug: Fix CI
  .github/workflows/run-tests.yaml
Due: none

:bug: Add SMTP_URI to .env.example
  .env.example
Due: none

:bug: Fixed model creation not working
  .gitmodules
  fediprint/app/src/routes/api/v1/model.rs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/routes/models/create/+page.svelte
Due: format

:sparkles: Returning file metadata in headers for file download
  fediprint/app/src/routes/api/v1/storage.rs
  fediprint/shared/src/db/file.rs
Due: format

:sparkles: Add head endpoint for storage
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/storage.rs
Due: format

:sparkles: Many changes
  fediprint/app/src/routes/api/v1/storage.rs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app.d.ts
  frontend/src/app.html
  frontend/src/hooks.server.ts
  frontend/src/lib/components/commandpalette.svelte
  frontend/src/lib/components/media/gallery.svelte
  frontend/src/lib/components/navbar.svelte
  frontend/src/lib/helpers/typings.ts
  frontend/src/lib/stores.ts
  frontend/src/lib/tinykeys.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+layout.ts
  frontend/src/routes/model/[id]/+page.svelte
  frontend/src/routes/model/[id]/+server.ts
  frontend/src/routes/models/create/select/+page.svelte
Due: format

:lipstick: Format Frontend files
  frontend/src/app.d.ts
  frontend/src/app.html
  frontend/src/hooks.server.ts
  frontend/src/lib/components/commandpalette.svelte
  frontend/src/lib/components/navbar.svelte
  frontend/src/lib/helpers/typings.ts
  frontend/src/lib/stores.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.ts
  frontend/src/routes/model/[id]/+page.svelte
  frontend/src/routes/model/[id]/+page.ts
  frontend/src/routes/models/create/select/+page.svelte
  frontend/src/routes/models/import/printables/+page.svelte
  frontend/src/routes/models/own/+page.svelte
  frontend/src/routes/models/own/+page.ts
  frontend/src/routes/models/own/model.svelte
  frontend/svelte.config.js
Due: none

:bug: Fix dockerfile
  .pre-commit-config.yaml
  docker/backend.Dockerfile
  fediprint/.sqlx/query-1f3fa5509f7781fe0c5cedbab7bb93ae34e5554381ade9308454675ecfc7ccc5.json
  fediprint/.sqlx/query-db245524eeede771c0174f968bc1efc51ca88298069f1c8fbc340c29b25928ed.json
  fediprint/.sqlx/query-f2bea99a51ac8ecfb55c520bc09b8c0be0ca480259e79a37798951ab3d7b6226.json
  frontend/package.json
  frontend/src/routes/model/[id]/+page.svelte
Due: none

:sparkles: Add worker to docker compose
  docker-compose.yml
  docker/backend.Dockerfile
Due: none

:bug: Fix dockerfile
  docker/backend.Dockerfile
Due: none

:sparkles: Add restart to docker-compose files
  docker-compose.dev.yml
  docker-compose.yml
Due: none

:sparkles: Basic inbox
  fediprint/app/src/helpers/activitypub/inbox_activities.rs
  fediprint/app/src/helpers/activitypub/mod.rs
  fediprint/app/src/helpers/mod.rs
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/activitypub/boxes.rs
  fediprint/shared/src/models/inbox.rs
  fediprint/shared/src/models/mod.rs
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: format

:sparkles: Inbox post fix
  fediprint/app/src/main.rs
Due: format

:bug: Allow empty to in inbox
  fediprint/shared/src/models/inbox.rs
Due: format

Remove header validation for inbox post
  fediprint/app/src/routes/api/v1/activitypub/boxes.rs
Due: format

:sparkles: Include Image ids in Search
  fediprint/app/src/helpers/search.rs
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/activitypub/boxes.rs
  fediprint/app/src/routes/api/v1/model.rs
  fediprint/shared/src/db/model.rs
  frontend/src/routes/search/+page.svelte
Due: format

:bug: Fix worker tasks getting lost when no free worker available
  fediprint/Cargo.lock
  fediprint/shared/Cargo.toml
  fediprint/shared/src/models/inbox.rs
  fediprint/worker/src/main.rs
Due: format

:sparkles: Add instance functions
  fediprint/.sqlx/query-0f76a6df16b6bac5b36ba6d567144e2e43896f03d80acbe280849200b8c4699c.json
  fediprint/.sqlx/query-1ba07a6e090fb188d8a4a0322eb6cdd7d8a50e4ccadd495eab953ec15e0d9db5.json
  fediprint/.sqlx/query-6eae9e4c8dc5674f6eddb0936d170043a69410859d2d70ee1ecfc7edd86f3062.json
  fediprint/.sqlx/query-7ca2dc2c9296c2770931147243ecb0cd04713b7b0483e74764f15c1d0d1975e6.json
  fediprint/.sqlx/query-ea734942bbf70172946ca5ad977dc25c8ad7d1c8e4e8b03cf5cb81de736dedc0.json
  fediprint/.sqlx/query-fc6423ee66ee0a55b3040ae13bc6a4f5e9081fcf6efdbccc0c6a55a70810d3e3.json
  fediprint/Cargo.lock
  fediprint/shared/Cargo.toml
  fediprint/shared/src/db/instances.rs
  fediprint/shared/src/db/mod.rs
  fediprint/shared/src/helpers/instances.rs
  fediprint/shared/src/helpers/mod.rs
  fediprint/worker/src/main.rs
  frontend/src/routes/search/+page.svelte
  frontend/src/routes/search/+page.ts
  migrations/20240609143248_instances.down.sql
  migrations/20240609143248_instances.up.sql
Due: format, sqlx-prep

:rotating_light: Fix clippy warnings
  fediprint/app/src/helpers/search.rs
  fediprint/app/src/routes/api/v1/activitypub/boxes.rs
  fediprint/shared/src/helpers/instances.rs
  fediprint/worker/src/main.rs
Due: format

:sparkles: Store instance info and relation to users in db
  fediprint/.sqlx/query-0b2a0f16e446661c6933de5e80e97de4e904834a73b3c1641ecc7dd5831892d5.json
  fediprint/.sqlx/query-73257b7f9b0804011055f309b47cb082df4f655db7d45337ee91e391868c6fc8.json
  fediprint/.sqlx/query-b0070c7c67c3d33cbe66e884007955476c15b5dc1bbe20619e31679ee8f952cb.json
  fediprint/.sqlx/query-cc5e8b899deecfd905c2490bdc5633db48cb3125f48e1f922be0209754f73373.json
  fediprint/.sqlx/query-eee80d463c71b5c0b44781afe552c7116f1be6b74d19c2757665af182344378b.json
  fediprint/app/src/helpers/interactions.rs
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/auth.rs
  fediprint/shared/src/db/instances.rs
  fediprint/shared/src/db/profile.rs
  migrations/20240313135359_init.down.sql
  migrations/20240313135359_init.up.sql
  migrations/20240519125546_jobs.down.sql
  migrations/20240519125546_jobs.up.sql
  migrations/20240609143248_instances.down.sql
  migrations/20240609143248_instances.up.sql
Due: format, sqlx-prep

:sparkles: Add follow, following and message count to profiles
  fediprint/.sqlx/query-0f76a6df16b6bac5b36ba6d567144e2e43896f03d80acbe280849200b8c4699c.json
  fediprint/.sqlx/query-422d7a54b221850c58ee06efa6ed751112213e9b8f404c108302500150bc3c86.json
  fediprint/.sqlx/query-66b8242aa3347e33ca75d2630b8b41ca03f0737ac26203bdff211572ea4feb06.json
  fediprint/.sqlx/query-8df98db4e7027cf6baeb850470e823bb54235e2c50684286f0176b9d9aeb3121.json
  fediprint/.sqlx/query-96724ea1050e71438f7b892254514774f829b37d69f87286bd192af9cf702ac4.json
  fediprint/.sqlx/query-db245524eeede771c0174f968bc1efc51ca88298069f1c8fbc340c29b25928ed.json
  fediprint/.sqlx/query-e55bb7673ba85cfa2d2cb39ba7028fe27c34a938511ec21c9425223708d8fc47.json
  fediprint/.sqlx/query-ea734942bbf70172946ca5ad977dc25c8ad7d1c8e4e8b03cf5cb81de736dedc0.json
  fediprint/.sqlx/query-ec1bc387ac133915dec30a9a1280eb46f1c88df7dc5d05d8904898233787b5ce.json
  fediprint/.sqlx/query-f2bea99a51ac8ecfb55c520bc09b8c0be0ca480259e79a37798951ab3d7b6226.json
  fediprint/.sqlx/query-f3808cbbdd61dfdf8be642cd007fc86d8e65f5912db11a356af1baf5d3e566df.json
  fediprint/shared/src/db/profile.rs
  fediprint/shared/src/helpers/profile.rs
  migrations/20240313135359_init.up.sql
Due: format, sqlx-prep

Sqlx offline data
  fediprint/.sqlx/query-0f76a6df16b6bac5b36ba6d567144e2e43896f03d80acbe280849200b8c4699c.json
  fediprint/.sqlx/query-8df98db4e7027cf6baeb850470e823bb54235e2c50684286f0176b9d9aeb3121.json
  fediprint/.sqlx/query-96724ea1050e71438f7b892254514774f829b37d69f87286bd192af9cf702ac4.json
  fediprint/.sqlx/query-db245524eeede771c0174f968bc1efc51ca88298069f1c8fbc340c29b25928ed.json
  fediprint/.sqlx/query-ea734942bbf70172946ca5ad977dc25c8ad7d1c8e4e8b03cf5cb81de736dedc0.json
  fediprint/.sqlx/query-f2bea99a51ac8ecfb55c520bc09b8c0be0ca480259e79a37798951ab3d7b6226.json
Due: none

:sparkles: Remote profile and status fetching working
  fediprint/Cargo.lock
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/statuses.rs
  fediprint/shared/Cargo.toml
  fediprint/shared/src/db/mod.rs
  fediprint/shared/src/db/model.rs
  fediprint/shared/src/db/note.rs
  fediprint/shared/src/db/profile.rs
  fediprint/shared/src/helpers/activities.rs
  fediprint/shared/src/helpers/mod.rs
  fediprint/shared/src/helpers/profile.rs
  fediprint/shared/src/models/activitypub.rs
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: format

:bug: Pull if possible from db when remote fetching
  fediprint/.sqlx/query-2825bdcb00c41464393326ef86ffbfa6bf40eb81ce1ca5d499cab517c63d908b.json
  fediprint/.sqlx/query-680e8a97e7bf25e92b171d6167ca9500ce8febd04fd5afcc0ee601af6ac7e0c4.json
  fediprint/.sqlx/query-a7b1fafcafd034ab3d522fe3fdcd87b4c08d964a4f46368333989bef66edca0e.json
  fediprint/.sqlx/query-e95bd01d7d8394fdc79c276a1f157acc773d1a956f17ef5792e67bc164ee192b.json
  fediprint/shared/src/db/model.rs
  fediprint/shared/src/db/note.rs
  fediprint/shared/src/helpers/activities.rs
  migrations/20240313135359_init.up.sql
Due: format, sqlx-prep

:sparkles: Import frontend improvements
  frontend/pnpm-lock.yaml
  frontend/src/routes/models/import/+page.svelte
  frontend/src/routes/models/import/printables/+page.svelte
Due: none

:sparkles: More robust ap 3d model communication
  fediprint/shared/src/db/mod.rs
  fediprint/shared/src/helpers/activities.rs
  fediprint/shared/src/models/activitypub.rs
Due: format

:bug: Fix printables link not working
  fediprint/app/src/helpers/printables.rs
Due: format

:bug: Add name to statuses
  fediprint/shared/src/db/model.rs
  fediprint/shared/src/models/activitypub.rs
Due: format

Path conditions:
  format: any of: \.rs$
  sqlx-prep: any of: \.sql$
