Repository mawoka-myblock/FediPrint: changes, and which pre-commit hooks are due for each by the changed paths.
All: format_rust, sqlx-prep

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: format_rust
        name: format_rust
        entry: cargo fmt
        pass_filenames: false
        language: rust
        files: \.rs$
        args: ["--all","--manifest-path", "fediprint/Cargo.toml"]
      - id: sqlx-prep
        name: Sqlx prepare
        entry: sh -c "cd fediprint && cargo sqlx prepare --workspace"
        pass_filenames: false
        language: rust
        files: \.sql$
      # - id: format_frontend
      #   name: format_frontend
      #   entry: pnpm --prefix frontend/ format:specific
      #   pass_filenames: true
      #   language: system
      #   files: frontend\/.*

:lipstick: Format files
  fediprint/shared/src/db/mod.rs
  fediprint/shared/src/db/model.rs
  fediprint/shared/src/models/activitypub.rs
Due: format_rust

Add sqlx data
  fediprint/.sqlx/query-446f4d8820802058995915b3ea730f28ef3778a5e5a94aa2fac78d26c08358ea.json
  fediprint/.sqlx/query-46fb20f63f6692bb1599b5495e82a1b87f6894bf099c4b4496364ce0800770a6.json
Due: none

:bug: Allow all valid activitypub headers
  fediprint/app/src/helpers/mod.rs
Due: format_rust

:bug: Fix wrong server id
  fediprint/app/src/routes/api/v1/interact.rs
Due: format_rust

:bug: Fix wrong server id
  fediprint/app/src/routes/api/v1/model.rs
Due: format_rust

:sparkles: Media import improvements
  fediprint/Cargo.lock
  fediprint/app/src/helpers/middleware.rs
  fediprint/app/src/helpers/mod.rs
  fediprint/app/src/helpers/printables.rs
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/activitypub/boxes.rs
  fediprint/app/src/routes/api/v1/activitypub/profile.rs
  fediprint/app/src/routes/api/v1/interact.rs
  fediprint/app/src/routes/api/v1/links/printables.rs
  fediprint/app/src/routes/api/v1/manage.rs
  fediprint/app/src/routes/api/v1/model.rs
  fediprint/app/src/routes/api/v1/nodeinfo.rs
  fediprint/app/src/routes/api/v1/printers.rs
  fediprint/app/src/routes/api/v1/search.rs
  fediprint/app/src/routes/api/v1/statuses.rs
  fediprint/app/src/routes/api/v1/storage.rs
  fediprint/app/src/routes/well_known/nodeinfo.rs
  fediprint/app/src/routes/well_known/webfinger.rs
  fediprint/shared/Cargo.toml
  fediprint/shared/src/db/file.rs
  fediprint/shared/src/db/model.rs
  fediprint/shared/src/db/note.rs
  fediprint/shared/src/helpers/activities.rs
  fediprint/shared/src/helpers/media.rs
  fediprint/shared/src/helpers/mod.rs
  fediprint/shared/src/lib.rs
Due: format_rust

:sparkles: Progress on landing page
  frontend/src/lib/components/navbar.svelte
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
Due: none

:sparkles: Quick save
  fediprint/Cargo.lock
  fediprint/app/Cargo.toml
  fediprint/app/src/main.rs
  fediprint/shared/Cargo.toml
  fediprint/shared/src/helpers/config.rs
  fediprint/shared/src/lib.rs
Due: format_rust

:sparkles: Payments base structure
  .env.example
  fediprint/.sqlx/query-17b7e20a28957f1e6ad63af558222926c8f2bbd1c3748dcf7c8d932571906a01.json
  fediprint/.sqlx/query-2ac0cf238810f76e1764d68e97147de2fe9606d47e52a9e145d83d47ca9ba3eb.json
  fediprint/.sqlx/query-2adbc6f90da00bbf3210ddb3e30ff71badce16161a857910c7a877eac249eb37.json
  fediprint/.sqlx/query-378669280653d2515e542b6fa3e93b4b8a4878ea1c87b54bc7c5c5a3c16c52be.json
  fediprint/.sqlx/query-418590250daa95194d4b6151c7850422281c9b339784b50dc4878f191a8fb036.json
  fediprint/.sqlx/query-70e565fdc185d4c30e753d0460750c7efe504ab3181423f69c6d65800dd4152c.json
  fediprint/.sqlx/query-7eb66bd903f30f14f796719c544394381fdbdf6feec8eef5ab003f9c42eeff7d.json
  fediprint/.sqlx/query-81f5b355fd4497604b62db3017b27aab23c243a2ae58ca1f84e0eb1d93b4cdac.json
  fediprint/.sqlx/query-85f557b46df207543d88216d891a0394508acf2a4cc698e8fdb6dd2a20b55e40.json
  fediprint/.sqlx/query-916de22d46681b06a1dd21e6c338a2ec03b70a5c1c6b51ba07e2f6dfbf225611.json
  fediprint/.sqlx/query-9248bb582dbc752c276c24d1f7be5c8ef1fbca772a7a35ff898730cbeb8a8bd2.json
  fediprint/.sqlx/query-a53d99bb8c711ce9a9471eb7b194c385ae7ac6ab80ce64813afa03ad1059874c.json
  fediprint/.sqlx/query-a950ba3dffd3fb8d34ef26271e15226db192d0449296f7c3e6d6cce2184b0c78.json
  fediprint/.sqlx/query-d6eeab111769ddfc079ffd4bd5822b1f535c2d0bfe58bb3152dd439849088b5b.json
  fediprint/.sqlx/query-f4a7bb7ec9b337f45478bf4253cbd581717b31a4ade2ab02fc81e0ca168b32e3.json
  fediprint/Cargo.lock
  fediprint/app/Cargo.toml
  fediprint/app/src/helpers/mod.rs
  fediprint/app/src/helpers/printables.rs
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/mod.rs
  fediprint/app/src/routes/api/v1/payments.rs
  fediprint/shared/Cargo.toml
  fediprint/shared/src/db/account.rs
  fediprint/shared/src/db/mod.rs
  fediprint/shared/src/db/model.rs
  fediprint/shared/src/db/transactions.rs
  fediprint/shared/src/helpers/config.rs
  fediprint/shared/src/lib.rs
  frontend/pnpm-lock.yaml
  migrations/20240313135359_init.down.sql
  migrations/20240313135359_init.up.sql
Due: format_rust, sqlx-prep

:sparkles: Basic payment structure
  fediprint/.sqlx/query-2ac0cf238810f76e1764d68e97147de2fe9606d47e52a9e145d83d47ca9ba3eb.json
  fediprint/.sqlx/query-81f5b355fd4497604b62db3017b27aab23c243a2ae58ca1f84e0eb1d93b4cdac.json
  fediprint/.sqlx/query-85f557b46df207543d88216d891a0394508acf2a4cc698e8fdb6dd2a20b55e40.json
  fediprint/.sqlx/query-a53d99bb8c711ce9a9471eb7b194c385ae7ac6ab80ce64813afa03ad1059874c.json
  fediprint/.sqlx/query-a950ba3dffd3fb8d34ef26271e15226db192d0449296f7c3e6d6cce2184b0c78.json
  fediprint/.sqlx/query-f4a7bb7ec9b337f45478bf4253cbd581717b31a4ade2ab02fc81e0ca168b32e3.json
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/payments.rs
  fediprint/shared/src/db/model.rs
  fediprint/shared/src/db/transactions.rs
  fediprint/shared/src/helpers/config.rs
  migrations/20240313135359_init.up.sql
Due: format_rust, sqlx-prep

:sparkles: More progress regarding paid models
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/model.rs
  fediprint/app/src/routes/api/v1/payments.rs
  fediprint/shared/src/db/model.rs
  fediprint/shared/src/models/model.rs
  frontend/src/routes/auth/settings/+page.svelte
  frontend/src/routes/models/create/+page.svelte
Due: format_rust

:sparkles: backend payment working
  .env.example
  fediprint/app/src/main.rs
  fediprint/app/src/routes/api/v1/model.rs
  fediprint/app/src/routes/api/v1/payments.rs
  fediprint/shared/src/db/account.rs
  fediprint/shared/src/db/model.rs
  fediprint/shared/src/helpers/config.rs
  frontend/src/lib/helpers/typings.ts
  frontend/src/routes/model/[id]/+page.svelte
  frontend/src/routes/models/create/+page.svelte
Due: format_rust

:sparkles: Added some docs
  README.md
  docker-compose.yml
  docs/develop.md
  docs/self-host.md
  docs/stripe-setup.md
  docs/technical.md
  fediprint/app/src/routes/api/v1/payments.rs
Due: format_rust

:sparkles: Add Github Action Backend Build
  .github/workflows/docker-backend.yml
Due: none

:sparkles: Add frontend github action Docker build
  .github/workflows/docker-frontend.yml
Due: none

:bug: Fix wrong name in github action
  .github/workflows/docker-frontend.yml
Due: none

Update offline SQLx query data
  fediprint/.sqlx/query-108fc6590fab05af2f9ca215b75ca55049005a178468afefe5c7143d6cbc1eb0.json
  fediprint/.sqlx/query-a80ba57f6a37500f3bd1b3e5aec0200484a15694d997cd8e7618694b64131dca.json
  fediprint/.sqlx/query-aa8412f74373b0039dfacdbfd2977621f596833a819516da6e9a307a6b82e63f.json
  fediprint/.sqlx/query-b12b8deaa9648ed6fbb5181dd94ac0ac2fec983825ead37f18474885cf295fdf.json
  fediprint/.sqlx/query-df0d71d01313d7036e5b889ee850b1abf60d73bd4a6f3bfd41a1e328bb79dcf9.json
  fediprint/.sqlx/query-ea59a693b7a49810500b0732f6a722897892bbf0364524dd1297919aaacb079c.json
  fediprint/.sqlx/query-facb0e87e04790dc06dbc7dddb2b3ca1647a18dfcb6e0e33f1a2d1a65e772c24.json
Due: none

:sparkles: improved paid creation interface
  frontend/src/routes/models/create/+page.svelte
Due: none
